<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log4net-config-file" value="log4net.config" />
	</appSettings>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net configSource="log4net.config"/>
</configuration>